.loading_script_bilan_retraite{
    position:relative;
    left:10%;
    width:80%; 
    top:-75%;
    height:100%;
    opacity: 0; 
    /*background-color: rgba(255, 255, 255, 1.0);
    border-radius: 5%; */
    
    justify-content: center;
    align-items:center;
    
     
    
  /*  animation:apparence $Temps_animation_acceuil; */
  animation-delay: $delai_affiche_retraite;  
    
  animation-name: balayage_bilan_retraite;
  animation-duration:$Temps_balayage_bilan_retraite;  
     
  }
  
  @keyframes balayage_bilan_retraite{
 
    0% {
     opacity: 0.1;  
    }
  20%{
   opacity: 1; 
  }
  
  95%{
   opacity: 0.5; 
  }
   100%{
     opacity: 0.0; 
      
   }
  }