@keyframes lampe{
   
    from {
      color: black;
      scale: 1;
   }
10%{
    color: rgb(211, 11, 168);
    scale: 1.5;
}   
20%{
    color: rgb(34, 16, 197);
    scale: 2;
} 
30%{
    color: rgb(211, 11, 168);
    scale: 2.5;
}   

50%{
    color: rgb(223, 202, 13);
    scale: 2;
} 

60%{
    color: rgb(24, 226, 68);
    scale: 1.5;
}
to  {
    color: rgb(92, 83, 83);
    scale: 1;
     
}
}