.Banniere_description {
    display:flex;
    justify-content: space-between;
    margin-right:10px;
    margin-left:10px;
    padding-top: 15px;
     width:100%; 
   /* width:800px;*/
  
    & h1{
        font-family: VagRounded;
  color: deeppink;
  padding: 5px 10px 5px 10px;
  margin: 10px;
   } 
   & p{
    font-size: 15px;            /* Changement de la taille des fonte en mode smartphones passe de 8 à 16 */
    margin-top:2px;
    margin-bottom: 2px;
   }
}