.Classement {
  /* ------------------- Container coup de coeur ----------------------*/
  display:flex;
  position: relative;
  align-items:center;
  
  font-size: 35px;
  padding-right: 50px;
  margin-top:10px; 
  width:24px;
  height:100%;
   
  background: none;
  cursor: pointer; 
  &:hover .dessus{
    @include Animation_Coeur1 ;
  }
  &:hover .dessous{
    @include Animation_Coeur2 ;
  } 
   
}
.dessus{
  position:absolute;
  top:0;
  transition:opacity $Temps_transition_opacité_coeur;
  opacity:1;
   color:black;
}
.dessous{
  position:absolute;
  transition:opacity $Temps_transition_opacité_coeur;
  top:0;
   
  
  background: linear-gradient(217deg, $colour_fond_boutton_prim,  $colour_fond_boutton_second 70.71%),
  linear-gradient(127deg,$colour_fond_boutton_prim, $colour_fond_boutton_second 70.71%),
  linear-gradient(336deg, $colour_fond_boutton_second,$colour-Validation 80.71%);


  Background-clip: text;
 
 -webkit-background-clip: text; 
 
 color: transparent;
  
  opacity:0;
}
