@font-face {
    font-family: 'Shrikhand';
    src: url('../polices/Shrikhand-Regular.otf') format('OPENtype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../polices/Roboto-Bold.ttf') format('TrueYype');
    font-weight: bold;
    font-style: normal;
}   
@font-face {
    font-family: 'Roboto';
    src: url('../polices/Roboto-Regular.ttf') format('TrueYype');
    font-weight: normal;
    font-style: normal;
}   
@font-face {
    font-family: 'Roboto';
    src: url('../polices/Roboto-Regular.ttf') format('TrueYype');
    font-weight: normal;
    font-style: normal;
}   
@font-face {
    font-family: 'VAGRounded';
    src: url('../polices/VAGRoundedBT-Regular.otf');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'VAGRounded_Bold';
    src: url('../polices/VAG Rounded Bold.ttf');
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'cac_champagne';
    src: url('../polices/cac_champagne-webfont.ttf');
    font-weight:bold;
    
    font-style:normal;
}