body{                                                /*desktop */
  display:flex;
  flex-direction:column;
  margin:auto;
  margin-top: 50px;
  justify-content:space-around; 
  background-attachment:fixed; 
  border:2px  green; 
  width: 100vw;  
  margin: auto;
  height: 100vh;
   
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:100%;
  overflow: auto;
   
}
 

.Couverture_int {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
  width:100%;
  align-items: center;
  /*padding:5px;*/
   
  /*margin:1%*/;
  border: 10px solid $Couleur_border_int;

}
.Couverture_ext {
  display: flex;
  
  
  border: 12px solid $Couleur_border_ext;
  padding: 10px;
  text-align: center;
   height: 100%; 
  /*background-image: url(../images/texture-paper.png);*/
}

.Titre_martine_gros {
  font-size: 70px;
  margin:10px;
}
.Titre_martine_petit{
  font-size:40px;

}
.Couverture_int_image{
    display:flex;
    justify-content:center;
    border-radius: 25px;
    zoom:1.1; 
    box-shadow: 13px 13px 10px rgb(20, 15, 43);
    animation:battement 2s;           /* durée de l'animation 5 secondes  retard 100mx  */
    animation-timing-function:linear;  
    
    animation-iteration-count: 2;
}
 h1 {
  font-family: VagRounded;
  color: deeppink;
}
h2 {
  display:flex;
  font-family: VagRounded;
  padding:2px;
  margin:2px;
  color: deeppink;
  align-items: center;
  a.gfg_tooltip{
    font-family: VagRounded;
  color: deeppink;
  font-size: 1em;
  }
  &.top{
    margin-top: 5%;
  }
}
h3{
  font-family: VagRounded;
  color: deeppink;
  font-size:20px ;
  &.Justifie{
    align-items: center;
    
  }
  &.top{
    margin-top: 5%;
  }
}
header {
  display: flex;
  justify-content:space-between;
  width: 100%;
 /* height:10%;*/
  align-items: center;
  background-image: url(../images/texture-paper.png);
}
footer{
  display:flex;
  height:10%; 
  justify-content: space-between;
  width:100%;
  align-items: center;
  background-color: $Fond_Couleur_Footer;
  //background-image: url(../images/Acceuil/ciel_noir.webp);
  & p{
    font-size: 30px;
    font-family: vagRounded_bold;
  }
}
p{
  font-family: VAGRounded;
  color: black;
  font-size: 20px;
  margin: 15px;
}
.class_p {
  font-family: VAGRounded_Bold;
/*  color: black;*/
  font-size: 20px;
  /*margin: 15px;*/
}
 
#image{
  display:flex;
  justify-content: space-around;
 }  
 



 


   

 
.ascenseur{
  
  height:100%; 
  overflow: auto;
  text-align: justify;
  &.small{
    height:800px
  } 
} 
.dip{
  display:flex;
 flex-wrap: nowrap;
}

p.lire{
  height:auto;
  &.inter_ligne2{
    line-height:2em;
    font-size: 30px;
    color:#c7eb8d
  }
  &.larg50{
    width:50%;
  }
 
}

/*
.colonne2:nth-child(1)
{
    flex-grow:1;
}
.colonne2:nth-child(0)
{
    flex-grow:2;
}

*/
.image_douce{
   border-radius: 50%;
   margin:2px;
   padding:20px;

   box-shadow: 5 5 8px 8px rgb(12, 46, 156) inset;
  

   &:hover.vib{
    animation: vibration  0.01s infinite alternate;
  /* durée de l'animation 8 secondes  retard 100mx  */
  animation-timing-function: linear;
  animation-iteration-count: 50;
   }
   
   &.top{
    margin-top:150px;
    &:hover{
      animation: rotation  2s;
  /* durée de l'animation 8 secondes  retard 100mx  */
  animation-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: 1;
    }
  } 
&.up{
  margin-bottom: 150px;
  &:hover{
    animation: rotation 1s;
  /* durée de l'animation 2 secondes  retard 100mx  */
  animation-timing-function:linear;
  animation-iteration-count: 2 ;
  }
  }
&.top_inamime{
  margin-top:150px;
  box-shadow: none;
  border:5px blue;
}  
}
.coeur {
  padding:10px;
  /*&:hover{ */
  animation:coeur_bat 0.8s infinite ;  
   
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;
}
 
.boite_annexe{
  display:flex;
  justify-content: space-around;
  margin:5px;
  width:25%;
  height:40px;
  border: 2px solid rgb(15, 148, 97);
  background-color: beige;
  align-items: center;

}
.Bouton1 {
  background: linear-gradient(180deg, $colour_fond_boutton, $colour_fond_boutton_prim 35%, $colour_fond_boutton_second 100%);
  margin:2%; 
  height: 40px;
  width: 200px;
  text-align: center; 
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Roboto", "Arial", "sans-serif";
  font-weight: bold;
  font-size: 13px;
  box-shadow: 5px 5px 10px #cccccc;
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  margin-right: 10px;
  cursor: pointer;
  vertical-align: middle;
&:hover {
  background: linear-gradient(0deg, #9356DC, #FF79DA 35%, #8f2e8f 100%);
}
&:active {
  /*transform:scale(0.5);*/
  transition: transform 50ms ease-in-out;
  transform: scale(0.9);
  box-shadow: 20px 10px 20px #bfc0bfe1;
  background: linear-gradient(10deg, #30df79 0%, #30df79 35%, #30df79 100%);
  background: linear-gradient(0deg, #9356DC, #FF79DA 905%, #8f2e8f 100%);
}
}
.info{
  display:block;
  text-align:justify;
}
a.info {
  position: relative;
  color: black;
  text-decoration: none;
  border-bottom: 1px gray dotted; /* On souligne le texte. */
}
h2 a.info{
  color:deeppink;
}

 
a.info div {
  display: none; /* On masque l'infobulle. */
    
}
a.info:hover {
  background: none; /* Correction d'un bug d'Internet Explorer. */
  z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
 
  /* cursor: help;  On change le curseur par défaut par un curseur d'aide. */
}
a.info:hover div {
  display: inline; /* On affiche l'infobulle. */
  position: absolute;
 
   white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
 
  top: 30px; /* On positionne notre infobulle. */
  left: 20px;
 
  background: white;
 
  color: green;
  padding: 3px;
  font-size: 20px;
  border: 1px solid green;
  border-left: 4px solid green;
}
.text_invisible{
  visibility: hidden;
}
.Image_anecdote{
  
  display:flex;
  width:200px;
  justify-content: space-between;
  align-items: center;
  
}
.banniere_image2{
  width:100%;
  padding:5px;
  box-shadow: 3px 3px 10px rgb(156, 6, 44);
  /*margin:15px;*/
  &.petit_top{
    margin-top:15px;
   }
  &.arrondi2{
    border-radius: 12px;
  }&.up{
    margin-bottom: 150px;
  }
  &.top{
    margin-top:150px;
  } 
  &.contain{
    object-fit:contain;
  }   
  &.fill{
    object-fit:fill;
     
  }
  &.bord_arrondi{ 
    border-radius: 50%;
  }
  &.zoom{
    scale:0.6;
  }
 &.ombre1{
  box-shadow: 3px 3px 10px rgb(38, 9, 168);
 }
 &.ombre2{
  box-shadow: -1px 1px 16px 0px rgb(38, 9, 168);
 }
  &.marge{
    margin:20px;
  }
  &.small{
    width:40%;
  }
  &.Xsmall{
    width:20%;
  }
  &.centrée{
    justify-items: center;
  }
  &.inv{
    flex-wrap: wrap-reverse;
  }
}

.lampe{
     animation:lampe 2s infinite;
    /* durée de l'animation 2 secondes  retard 100mx  */
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    margin:10px;
  }
  
   .vocale{
    display:none;
    position: absolute;
    background-color: #16b9c5;
    padding:2%;
    border-radius:10%;
    top: 150px; /* On positionne notre infobulle. */
    left: 400px;
   }
   #Fond_gris{
    width:100%;
    height:20%;
    background-color: $Fond_page_acceuil;
   }
   @media screen and (min-width: 769px)  {
    body{                                                /*desktop */
  
       width: 900px;  
       margin: auto;
        
        
   }
    .banniere_image{
 
      width:100%;
      height: 100%;
      margin-top:20px ;
      object-fit:cover;
    }
   .colonne2{
    display:flex;
    /*padding:15px;*/
    margin:auto; 
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
    
    
    &.switch{
      flex-direction: row-reverse;
    }
    & p{
      text-align: left;
      font-family: VagRounded;
      text-align: justify;
       
      &.up{
         margin-top:150px; 
         
      }  
      &.top{
        margin-bottom:150px;
      }
     
    }
  &.bulle{
      border-radius:50px;
      border: 1px solid rgb(1, 17, 11);
      padding:20px;
      overflow-wrap:inspect($value: 2);
    }
  &.row{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    contain: content;
  } 
  } /* fin colonne2*/
   .gfg_tooltip .gfg_text {
    left: 10px;
   &.bottom{
       top: -55px;

   }  
  }
  .banniere_imageP{
    width:50%;
    width:50%;
    margin-top:30px ;
   object-fit:contain;
   align-items: center;
   &.small{
    width:20%;
   }
    

    
 }
  .ligne{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    width:100%;
    &.petit{
      width:40%;
      align-items: center;
    }
    &.moyen{
      width:60%;
    }
    &.grand{
      width:800%;
    }
    &.hp{ 
      width:150px
    }
  }  
  
}
   @media all and (min-width:500px) and (max-width: 767px) {
    .banniere_image{
      width:100%;
      margin-top:20px ;
      object-fit:cover;
      &.up{
        margin-bottom: 150px;
      }
      &.top{
        margin-top:150px;
      } 
      &.contain{
        object-fit:contain;
      }   
      &.fill{
        object-fit:fill;   
      }
      &.bord_arrondi{ 
        border-radius: 10%;
      }
      &.zoom{
        scale:0.6;
      }
     &.ombre1{
      box-shadow: 3px 3px 10px rgb(38, 9, 168);
     }
     &.ombre2{
      box-shadow: -1px 1px 16px 0px rgb(38, 9, 168);
     }
      &.marge{
        margin:20px;
      }
      &.small{
        width:50%
      }
      &.centrée{
        justify-items: center;
      }
    }           /* fin banniere image */
     main{
       width: 100%;
     }
     .colonne2{
      display:flex;
      flex-wrap: wrap;
       flex-direction: column;
       align-items: center;
       & p{
         width:100%;
         margin:10px;
       }
     /*  &.banniere_image{
        
        margin:auto;
        justify-content: space-around;
        &.contain{
          object-fit:contain;
        }*/
       
               
        &.banniere_imageP{
           width:100%;
             margin-top:auto ;
            object-fit:cover;
        }
     &.inv{
      flex-direction: column-reverse;
    }
    }  /*. fin colonne 2 */
     .Couverture_int_image{
       display:flex;
       justify-content: space-between;
       zoom:0.3; 
     }
     p.lire{
      &.inter_ligne2{
        line-height:2em;
       font-size: 20px;
         
      }
      &.larg50{
        width:100%;
      }
    }
     .Entete{
      flex-wrap: wrap; 
     }
     
     h1{
      font-size: $Font_size_h1_petit;
     }
     .box img{
      
      top: 14%;
}

.gfg_tooltip .gfg_text {
  left: -270px;
 &.bottom{
     top: -55px;

 }  
}
.ligne{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:100%;
  &.petit{
    width:40%;
    align-items: center;
  }
  &.moyen{
    width:60%;
  }
  &.grand{
    width:800%;
  }
  &.hp{ 
    width:150px
  }
}  

$Temps_balayage_bilan_retraite:$Temps_balayage_bilan_retraite*2;

}  /* -------------fin media entre 500 et 768----------------*/


@media all and (max-width:499px) {
    
    
     h1{
      font-size: $Font_size_h1_petit;
     }
     main{
       width: 100%;
     } 
     .Couverture_int_image{
       display:flex;
       justify-content: space-between;
       zoom:0.4;  
       border: 5px;    
     }
   .Couverture_int{
    border: 5px solid $Couleur_border_int;
   }
   .Couverture_ext {
     border: 5px solid $Couleur_border_ext;
   }
   p.lire{
    &.inter_ligne2{
      line-height:2em;
      font-size: 20px;
     }
     &.larg50{
      width:100%;
    }
  }
  .page{
    & ul{
      width:100%;
    }
  }
  Li{
    &.lire{
      font-size: 12px;
       
    }
  }
  .Bouton1{
    scale:0.5;
  }
  .Entete{
    flex-wrap: wrap; 
   }
   

   .box img{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%); 
    font-size: 25px;
    letter-spacing: 3px;
    font-family: Righteous; 
    border-radius: 50%;
}
.colonne2{
  display: flex;
 flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  & p{
    width:100%;
  }
  &.inv{
    flex-direction: column-reverse;
  }
}
.banniere_image2{
  width:50%;
  margin:auto;
  align-items: center;
  object-fit: cover;
 }

.banniere_image{
  width:100%;
  margin:auto;
  justify-content: space-around;
  &.contain{
    object-fit:contain;
  }

}
.ligne{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:800%;
  &.petit{
    width:100%;
    align-items: center;
  }
  &.moyen{
    width:100%;
  }
  &.grand{
    width:100%;
  }s
  &.hp{ 
    width:150px
  }
}  

   }           /* -----------------finmedia < 499px -------------*/
   
   /* fin media 500px */
.Les_3_sites{
 
  position: relative;
  width:150%;
  height: 300px;
  margin-left: 30px;
}
#image_cascade1{                /* Carre a la farine*/
    position: absolute;
    z-index: 3;
    top:40px;
    left: 0px;
    box-shadow: 3px 3px 10px rgb(38, 9, 168);
    object-fit: fill;
}

  
#image_cascade2{  /* Espace Richaud*/
   
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    box-shadow: 3px 3px 10px rgb(38, 9, 168);
    
    }
  #image_cascade3{  /* Musée Lambinet*/
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 40px;
    box-shadow: 3px 3px 10px rgb(38, 9, 168);
  }
  #volontaire{
    position: absolute;
    opacity: 0; 
    top: 230px;
    left: 0px;

  }
  .zen{ 
    display:flex;
    background-image:url("../images/Acceuil/Chemin de vie.jpg"); 
    background-position:center; /* Center the image */
    background-repeat:no-repeat; /* Do not repeat the image */
    background-size:cover;     /*   Resize the background image to cover the entire*/
    
   }
   .marge20{
    margin:10%;
    margin-top: 60%;
    color:rgb(241, 222, 42);  
   }
   #Boutons{
    display:flex;
    flex-wrap: wrap;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
   }
   
